# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Node
node_modules/
# dist/
!apps/frontend/dist/
.eslintcache

# Project Specific
data/logs/*.png
data/logs/*.jpg
*.csv
.DS_Store
chrome_data/
chrome_profile/
data/
